
* {
    margin: 0;
    padding: 0;
    font-family: 'Baskervville SC', sans-serif;

}

header {
    text-align: center;
    background-color: black;
    color: white;
    height: 50px;
    padding-top: 10px;
    letter-spacing: 2px;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 50px;
}

footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 100%;
}

#footermensagem {
    background-color: rgb(250, 60, 60);
    color: white;
    text-align: center;    
    border-radius: 10px;
    width: 300px;
}


