@charset "UTF-8";

* {
    color: black;
}

body {
    background-color: pink;
    background-image: url("https://static.vecteezy.com/system/resources/previews/018/764/737/original/melted-chocolate-background-free-png.png");
    background-size: cover;
    background-attachment: fixed;
}
    
h1 {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 40px;
    text-shadow: 1px 1px 2px;
    letter-spacing: 2px;
}
    
h2 {
    font-family: "Nanum Myeongjo" ,Arial, Helvetica, sans-serif;
}

p{
    font-family: "Quattrocento", Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

#box {
    text-align: center;
    background-color: pink;
}

footer > p {
    letter-spacing: 4px;
}

footer > h2 {
    letter-spacing: 2px;
}

.sabores {
    
    background-color: pink;
    padding-top: 10px;
    border: 1px solid black;
    border-radius: .75rem;
    height: 23rem;
    width: 16rem;
    transform: rotate(-2deg);
    text-align: center;
    display: inline-block;
    padding: 2rem;
    margin: 8rem;
}

.sabor {
    background-color: pink;
    padding-top: 10px;
    border: 1px solid black;
    border-radius: .75rem;
    height: 18rem;
    width: 17rem;
    transform: rotate(2deg);
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
}

footer {
    margin-top: 2rem;
    text-align: center;
    text-shadow: 1px 1px 2px;
    padding-top: 25px;
    background-color: transparent;
}
