@charset "UTF-8";



header > a {
    text-decoration: none;
    color: white;
}

header > a:hover {
    text-decoration: underline;
    color: blue;
    

}

nav > a {
    text-decoration: none;
    color: white;
}

nav >  a:hover {
    text-decoration: underline;
    color: blue;

}

header {
    text-align: center;
    background-color: rgb(83, 82, 82);
    
}