body {
    background-color: pink;
    background-image: url("https://static.vecteezy.com/system/resources/previews/018/764/737/original/melted-chocolate-background-free-png.png");
    background-size: cover;
    
}
    
h1 {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 40px;
    text-shadow: 1px 1px 2px;
}
    
h2 {
    font-family: "Nanum Myeongjo" ,Arial, Helvetica, sans-serif;
}

p, li {
    font-family: "Quattrocento", Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

#box {
    text-align: center;
    background-color: pink;
}

footer > p {
    letter-spacing: 4px;
}

footer > h2 {
    letter-spacing: 2px;
}

.sabores {
    padding-top: 10px;
    text-align: center;
}

footer {
    text-align: center;
    padding-top: 25px;
}