#carouselExampleSlidesOnly {
    width: 500px;
    margin: auto;
    margin-top: 5px;
}

#carouselExampleInterval {
    width: 500px;
    margin: auto;
    margin-top: 5px;
}

#carouselExampleIndicators {
    width: 500px;
    margin: auto;
    margin-top: 5px;
}